$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-xl: 1200px;
$SM: 750px;
$MD: 970px;
$XL: 1170px;

.font {
	&.sanspro {
		font-family: 'Source Sans Pro', sans-serif;
	}
	&.montserrat {
		font-family: 'Montserrat', sans-serif;
	}
}

body {
	margin: 0;
	min-width: fit-content;
}

main {
	.title {
		background-color: #e9f0ef;
		padding-top: 30px;
		margin-bottom: 80px;
		.row {
			.left-side {
				p {
					font-size: 50px;
					font-weight: 200;
					text-transform: uppercase;
					letter-spacing: 3px;
					margin: 0 0 80px 0;
					span {
						font-weight: bold;
					}
				}
				.breadcrumbs {
					display: flex;
					align-items: center;
					a {
						color: #00bcd4;
						padding: 10px 0;
						text-decoration: none;
						border-bottom: 4px solid rgba($color: #000000, $alpha: 0);
						&:last-child {
							color: #a9b7c1;
							border-color: #ff5252;
						}
					}
					span {
						font-size: small;
						color: #5f727f;
						margin: 0 10px;
					}
				}
			}
			img {
				height: fit-content;
				margin-left: auto;
				align-self: center;
				padding-bottom: 30px;
			}
		}
	}
	.wishlist {
		table {
			width: 100%;
			border-collapse: collapse;
			border: 1px solid #dfe5e8;
			caption {
				font-size: x-large;
				font-weight: 300;
				text-transform: capitalize;
				text-align: left;
				margin-bottom: 20px;
				span {
					color: #00bcd4;
				}
			}
			tr {
				&:nth-child(odd) {
					background-color: #f0f3f2;
				}
				th {
					background-color: #b6c6c9;
					color: #fff;
					text-transform: uppercase;
					text-align: left;
					padding: 20px 0;
				}
				td {
					&:nth-child(1) {
						width: 7%;
					}
					.remove {
						width: 100%;
						text-align: center;
						color: red;
						align-self: center;
						padding: 0 15px;
					}
					&:nth-child(2) {
						display: flex;
						align-items: center;
						width: 100%;
						img {
							width: 60px;
							padding: 20px 0;
						}
						p {
							margin: 0 20px;
							color: #00bcd4;
							flex-grow: 1;
							span {
								font-size: small;
								color: #a9b7c1;
								margin-left: 15px;
							}
						}
					}
					&:nth-child(3) {
						width: 15%;
						font-size: larger;
						font-weight: 300;
						color: #3c3950;
						margin-right: 100px;
					}
					&:nth-child(4) {
						width: 15%;
						text-transform: capitalize;
						color: #3c3950;
						&.outofstock {
							color: red;
						}
					}
					&:nth-child(5) {
						width: 15%;
						.btn {
							display: flex;
							width: fit-content;
							padding: 5px 10px;
							align-items: center;
							text-transform: uppercase;
							font-size: small;
							font-weight: bold;
							color: #fff;
							background-color: #b6c6c9;
							cursor: pointer;
							span {
								margin-right: 10px;
							}
						}
					}
				}
			}
		}
		.table-footer {
			display: flex;
			align-items: center;
			margin: 20px 0;
			p {
				font-size: x-large;
				font-weight: 300;
			}
			ul {
				list-style: none;
				display: flex;
				align-items: center;
				padding: 0 10px;
				li {
					margin: 0 10px;
					img {
						display: block;
					}
				}
			}
		}
	}
	.related-products {
		margin-bottom: 100px;
		.title {
			align-items: center;
			background-color: transparent;
			margin-bottom: 30px;
			.line {
				flex: 1;
				height: 7px;
				border-color: #f0f3f2;
				border-style: solid;
				border-width: 2px 0;
				margin-left: 20px;
			}
			p {
				font-size: 35px;
				font-weight: 300;
				text-transform: uppercase;
				letter-spacing: 3px;
			}
		}
		.products {
			list-style: none;
			padding: 0;
			flex-wrap: wrap;
			.col {
				width: calc(#{$XL/6});
				padding: 15px;
				@media (max-width: $breakpoint-xl) {
					width: calc(#{$MD/4});
				}
				@media (max-width: $breakpoint-md) {
					width: calc(#{$SM/3});
				}
			}
			.item {
				height: 289px;
				background-color: #b6c6c9;
				position: relative;
				cursor: pointer;
				.info {
					display: flex;
					flex-direction: column;
					align-items: center;
					width: 100%;
					padding: 0 0;
					position: absolute;
					bottom: 0;
					background-color: #fff;
					border: 1px solid #dfe5e8;
					border-top: none;
					.title {
						margin: 10px 0;
						padding: 0;
						text-transform: capitalize;
						color: #5f727f;
						font-size: small;
						font-weight: 500;
					}
					.price {
						color: #00bcd4;
						margin: 0 0 15px;
					}
				}
				&.sale,
				&.new {
					&::before,
					&::after {
						display: flex;
						justify-content: center;
						align-items: center;
						border-radius: 999px;
						position: absolute;
						color: #fff;
						font-family: 'Montserrat', sans-serif;
						font-weight: 600;
						font-size: small;
					}
				}
				&.sale {
					&::after {
						content: 'SALE!';
						width: 60px;
						height: 60px;
						background-color: #00bcd4;
						right: -15px;
						top: 30px;
					}
				}
				&.new {
					&::before {
						content: 'NEW';
						width: 50px;
						height: 50px;
						background-color: #000;
						right: -15px;
						top: 30px;
					}
				}
				&.sale.new {
					&::before {
						right: -15px;
						top: 80px;
					}
				}
			}
		}
	}
}
